{%extends 'base.html'%}
{%block title%}{{block.super}}| Welcome{%endblock%}


{%block script%}

<script>
    // Get query string value 
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    $(document).ready(function () {
        var query = getParameterByName('q')
        var tweetList;

        function attachTweet(tweetValue, prepend) {
            var tweetContainer = $(".tweet-container")
            var this_ = tweetContainer
            var tweetHtml = '<div class="media bg-white ml-3"><div class="media-body"><b>' + tweetValue.user.username + ' </b><span class="text-secondary">' + tweetValue.time_since + '</span><p class="mb-0">' + tweetValue.content + '</p><a href="' + tweetValue.tweet_url + '">View</a><hr class="m-0 mb-3"></div></div >'
            if (prepend) {
                this_.prepend(tweetHtml)
            } else {
                this_.append(tweetHtml)
            }
        }


        function fetchTweet() {
            $.ajax({
                url: "/api/tweet/",
                data: { 'q': query },
                method: "GET",

                success: function (data) {
                    if (data.length == 0 && query) {
                        $(".tweet-container").append('No tweets found')
                    } else if (data.length == 0 && !query) {
                        $(".tweet-container").append('No tweets found')
                    } else {
                        $.each(data, function (key, value) {
                            attachTweet(value, false)
                        })
                    }
                    console.log('fetch working')
                },
                error: function (data) {
                    console.log('fetch error')
                },
            })
        }

        fetchTweet()

        // Create new tweet
        $("#tweet-form").submit(function (event) {
            event.preventDefault()
            var content = $("#tweet-form").val()
            var this_ = $(this)
            dataForm = this_.serialize()
            $.ajax({
                url: "/api/tweet/create/",
                method: "POST",
                data: dataForm,
                success: function (data) {
                    $("#tweet-form textarea").val('')
                    attachTweet(data, true)
                    console.log('create working')
                },
                error: function (data) {
                    console.log('create not working')
                }
            })
        })

        // auto search after 3s
        $("#text-search").keyup(function () {
            setTimeout(function () { $("#search-form").submit() }, 3000)
        })


    });
</script>
{%endblock%}

{%block content%}

<div class="row mt-5 justify-content-between ">
    <div class="col-lg-4 col-xl-3 mb-3">
        <div class="author  pb-5">
            <p class='h3'>{{request.user}}</p>
            <hr>
        </div>

        <div class="author pb-5">
            <p class='h3'>Followed_by</p>
            <hr>
        </div>

        <div class="author pb-5">
            <p class='h3'>Following</p>
            <hr>
        </div>
    </div>

    <div class="col-lg-8 col-xl-9 ">
        <!-- Insert tweet form -->
        {%if not request.GET.q%}
        <div class="tweet-form ml-3 mb-3">
            {%include 'tweets_app/form.html' with form_id="tweet-form"%}
        </div>
        {%else%}
        <p class="lead">Results for: {{request.GET.q}}</p>
        <hr>
        {%endif%}

        <!-- Add tweet via Ajax -->
        <div class="tweet-container"></div>


    </div>
</div>


{%endblock%}